/* Imports
========================================================================== */

@import './abstracts/mixins.scss';

/* Root Variables
========================================================================== */

:root {
  --font-heading: 'Amarante';
  --font-body: 'Roboto';

  --border-radius: 6px;
  --title-size: 6px;

  --primary: #b3ac9d;
  --secondary: #022598;
  --accent: #fff77d;
  --soft-accent: #fffdd5;

  --black: #181818;
  --black: #141a20;
  --black-true: #000;
  --grey: #dedede;
  --grey-dark: #626262;
  --grey-light: #bbbbbb;
  --white: #fcfcfc;
  --white-true: #fff;
  --blue: #022598;
}

/* Global styles
========================================================================== */

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

*::selection {
  background: var(--soft-accent);
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%; // 1rem = 10px, 3.5rem = 35px;
  box-sizing: border-box;
}

body {
  color: var(--black);
  background: var(--white);
  font-size: 1.6rem;
  font-family: var(--font-body);
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    border-left: 3px solid var(--grey);
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(34, 34, 34, 1);
    background: var(--accent);
  }
}

main {
  flex: 1 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.inner-wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  @include respond-to('desktop-15') {
    padding: 0 5%;
  }
  @include respond-to('tablet-large') {
    padding: 0 5%;
  }
  @include respond-to('mobile-large') {
    padding: 0 5%;
  }
}

.bold {
  font-weight: 700;
}

/* Global typography styles
========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-body);
}

h1 {
  font-size: clamp(5.8rem, 17.1rem, 11vw);
  font-weight: 100;
  @include respond-to('awkward') {
    font-size: 4rem;
  }
}
h2 {
  font-size: 4.2rem;
  font-weight: 100;
  line-height: 1.5;
}
h3 {
  font-size: 2.6rem;
  font-weight: 100;
}

p,
input,
a,
textarea,
::placeholder {
  margin: 0;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.101rem;
  color: var(--black);
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--black);
}
a.selected {
  font-weight: 700;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  margin: 0;
}
