/* Imports
========================================================================== */

@import '../styles/abstracts/mixins.scss';

/* Contact styles
========================================================================== */

.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 16rem 0;
  @include respond-to('desktop-13') {
    padding-bottom: 44.7rem;
  }
  @include respond-to('tablet-large') {
    padding: 0 0 39.7rem 0;
    flex-direction: column;
    align-items: center;
  }
  h2 {
    width: 100%;
    max-width: 360px;
    padding-top: 10rem;
    margin-right: 20rem;
    @include respond-to('desktop-13') {
      margin-right: 5rem;
    }
    @include respond-to('tablet-large') {
      margin-bottom: 4rem;
      margin-right: 0;
      text-align: center;
    }
    @include respond-to('mobile-large') {
      padding-top: 8rem;
      font-size: 2.6rem;
      width: 100%;
      max-width: 240px;
    }
    span {
      font-weight: 700;
    }
  }
}
