/* Imports
========================================================================== */

@import "../styles/abstracts/mixins.scss";

/* Header styles
========================================================================== */

.header {
  position: relative;
  .banner {
    height: 26px;
    background: #000;
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0.3rem;
  }

  .nav {
    padding-top: 3.5rem;
    padding-bottom: 20rem;
  }
  .nav ul {
    display: flex;
    justify-content: flex-end;
  }
  .nav ul li:not(:last-child) {
    margin-right: 2rem;
  }
}
